<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="robots" content="noodp,noydir" />
<%
var title = page.title ? `${page.title} - ${config.title}` : config.title;
%>
<title><%= title %></title>
<% if (is_home()) { %>
  <meta name="description" content="I create custom-made MIDI controllers which can be mounted in 19 inch racks or Eurorack" />
<% } else if (page.description) { %>
  <meta name="description" content="<%= page.description %>" />
<% } %>

<% if (page.keywords) { %>
  <meta name="keywords" content="<%= page.keywords %>" />
<% } else if (theme.keywords) { %>
  <meta name="keywords" content="<%= theme.keywords %>" />
<% } %>

<link rel="mask-icon" href="/favicon/favicon-mask.svg" color="#c03319" />
<link rel="icon" type="image/png" href="/favicon/favicon.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/favicon/favicon.png" sizes="16x16" />
<link rel="shortcut icon" type="image/x-icon" href="/favicon/favicon.png" />
<meta name="theme-color" content="#c03319">

<meta property="og:title" content="<%= title %>"/>
<% if (is_home()) { %>
  <meta property="og:description" content="I create custom-made MIDI controllers which can be mounted in 19 inch racks or Eurorack" />
<% } else if (page.description) { %>
  <meta property="og:description" content="<%= page.description %>" />
<% } %>
<meta property="og:url" content="<%= config.url %>/<%= page.canonical_path.replace('index.html', '') %>" />
<meta property="og:site_name" content="<%= config.title %>" />
<meta property="og:locale" content="en" />
<meta property="og:type" content="website" />
<meta property="og:image" content="<%= config.url %>/images/og-poster.jpg" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="<%= config.url %>/images/og-poster.jpg" />

<%- css('css/style.css') %>

<%- autoCanonical(config, page) %>
