<article class="project container separator">
    <h1><%- page.title %></h1>
    <section class="date">Posted on: <%- date(page.date, 'YYYY/MM/DD') %> at <%- date(page.date, 'HH:mm') %></section>
    <%- page.content %>
</article>

<%- partial('_partial/contact') %>
